* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Segoe UI', sans-serif;
}

body {
    background-color:#FAF3E0;
    color: #000000;
    height: 100vh;
    display: grid; 
    justify-items: center;
    padding-top: 8rem;
}

.header{
    display: grid;
    grid-template-columns: 0.2fr 1fr 1fr;
    align-items: center;
    background-color: #F4BFBF; 
    padding: 0.8rem 1rem;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    
}
.Logo{
    width: 14%;
    height: 10vh;
    display: flex;
    align-items: center;
}
.Logo_Imagen{
  width:6vw;
  height: auto;
  border-radius: 5%;
  object-fit: cover;
}
.search{
  background-color: #ffe8e6; 
  border-radius: 20px;
  display: grid;
  align-content: start;
  justify-content: start;
  padding: 0.5rem 1rem;
  width: 90%;
  height: 30px;
  box-shadow: inset 0 0 4px rgba(0,0,0,0.05);
}
 
.nav {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  align-items: center;
}

.nav a {
  color: #693f3b;  
  text-decoration: none;
  font-weight: 500;
  font-size: 0.7rem;
  transition: color 0.3s ease;
}
.nav img{
    width: 3vw;
    height: 6%;
    border-radius: 40px;
}

.nav a:hover {
  color: #D6E2C3;  
} 

.hero{
    width: 80%;
    display: grid;
    /* grid-template-columns:repeat(auto-fit, minmax(200px, 1fr)); */
    grid-template-columns: 1fr;    
    align-items: center;
    justify-items: center;
}


.hero_imagen{
    width: 100%;
    object-fit: cover;
    /* grid-column: 1 / -1; */
    height: 70vh;
    /* image-rendering: auto; */
    /* filter: brightness(50%) saturate(80%); */
    opacity: 0.4;
    z-index: 1;
    grid-area: 1 / 1 / 2 / 2;
    height: 100%;
    border-radius: 20px;
}
.hero_titulo, .hero_subtitulo, .hero_button {
    grid-area: 1 / 1 /2 /2;
    z-index: 2;
    text-align: center;
}

.hero_titulo{
    align-self: start; /* Lo mueve hacia arriba */
    padding-top: 10%;
    
}

.hero_subtitulo{
    align-self: center;
}
.hero_button{
    align-self: end; /* Lo mueve hacia abajo */
    margin-bottom: 5%; /* Lo separa un poco del borde inferior */
    justify-self: center;
}