* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Segoe UI', sans-serif;
}

body {
    background-color: #FAF3E0;
  color: #000000;
  padding-top: 8rem;
  display: flex;
  flex-direction: column;
  
}

main{
    display: grid;
    justify-items: center;
    width:100%;
    gap:20px;
}

.header{
    display: grid;
    grid-template-columns: 0.2fr 1fr 1fr;
    align-items: center;
    background-color: #F4BFBF; 
    padding: 0.8rem 1rem;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    
}
.Logo{
    width: 14%;
    height: 10vh;
    display: flex;
    align-items: center;
}
.Logo_Imagen{
  width:6vw;
  height: auto;
  border-radius: 5%;
  object-fit: cover;
}
.search{
  background-color: #ffe8e6; 
  border-radius: 20px;
  display: grid;
  align-content: start;
  justify-content: start;
  padding: 0.5rem 1rem;
  width: 90%;
  height: 30px;
  box-shadow: inset 0 0 4px rgba(0,0,0,0.05);
}
 
.nav {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  align-items: center;
}

.nav a {
  color: #693f3b;  
  text-decoration: none;
  font-weight: 500;
  font-size: 0.7rem;
  transition: color 0.3s ease;
}
.nav img{
    width: 3vw;
    height: 6%;
    border-radius: 40px;
}

.nav a:hover {
  color: #D6E2C3;  
} 

.hero{
    width: 80%;
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(200px, 1fr));
    /* grid-template-columns: 1fr;  */
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
    overflow: hidden;
    height: 90%;
    min-height: 80vh;
    border-radius: 20px;

}


.hero_imagen{
    width: 100%;
    object-fit: cover;
    opacity: 0.6;
    z-index: 1;
    grid-column: 1;
    grid-row: 1;
    height: 100%;
    border-radius: 20px;
}
.hero_button, .hero_subtitulo,.hero_titulo   {
    grid-column: 1/2;
    grid-row: 1/2;
    z-index: 2;
    text-align: center;
    padding: 10px;

}
.hero_titulo{
    align-self: start;
    padding-top: 130px;
    color: #4b302d;
    font-weight: 1000;
    font-size: 2rem;

}

.hero_subtitulo{
    align-self: center;
    color: #4b302d;
    font-size: 1rem;
}
.hero_button{
    align-self: end;
    margin-bottom: 150px;
    justify-self: center;
    padding: 5px 10px;
    background-color: #ff8787; 
    border: none;
    cursor: pointer;
    color: #ffffff; /* Color del texto del botón */
    border-radius: 5px;
}
.tarjetas {
  display: grid;

  /* Grid explícita: define el ancho base de las columnas */
  grid-template-columns: repeat(auto-fit, minmax(100px, 200px));

  /* Grid implícita: define filas automáticas */
  grid-auto-rows: 250px;

  /*Activa el flujo denso (rellena huecos) */
  grid-auto-flow: dense;

  gap: 20px;
  width: 90%;
  /* margin: 2rem auto; */
  justify-content: center;
}

.tarjeta {
  background-color: #FAF3E0;
  display: grid;
  grid-template-rows: 40px 120px 70px;
  justify-items: center;
  border: 1px solid rgb(89, 50, 50);
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  height: auto;
  
}

h3{
    font-size: 25px;
}

.tarjeta img {
  width: 70%;
  height: 100%;
}

.tarjeta p {
  color: #693f3b;
  font-size: 13px;
  margin-top: 0.5rem;
}

/* Tarjetas que ocupan más espacio para mostrar el flujo denso */
.tarjeta:nth-child(1) {
  grid-column: span 2;
  grid-row: span 2;
}

.tarjeta:nth-child(6) {
  grid-row: span 2;
  grid-column: span 2;
}

.tarjeta:nth-child(2) img,
.tarjeta:nth-child(3) img,
.tarjeta:nth-child(4) img,
.tarjeta:nth-child(5) img {
    max-height: 200px;
}


.tarjeta:nth-child(1) p, .tarjeta:nth-child(6) p
{
    font-size: 20px;
    
}
.tarjeta:nth-child(1), .tarjeta:nth-child(1) h3,
.tarjeta:nth-child(6), .tarjeta:nth-child(6) h3{
    grid-template-rows: 60px 320px 130px;
    font-size: 40px;
    
}

.tarjeta:nth-child(1) img,
.tarjeta:nth-child(6) img {
  align-self: center; /* centra verticalmente en su celda */
  justify-self: center; /* centra horizontalmente */
  object-fit: contain;
  height: 50vh;
  width: 100%;
}

.section{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 300px));
  gap: 20px;
  width: 90%;
  justify-content: center;
  align-content: center;
}

.testimonio{
  display: grid;
  grid-template-areas: "lh3"
  "img"
  "p";
  background-color: #fc9e9379;
  width: 100%;
  height: 70vh;
  justify-items: center;
  align-items: center;
  border-radius: 20px;
  text-align: center;
  padding: 10px;
}

.testimonio img {
  width: 70%;
  height: 30vh;
  background-color: #fad3d3;
  border: 2px solid rgb(102, 65, 65);
  border-radius: 50%;
}

.lh3{
  grid-area: lh3;
  color: #855151;
}

.Formulario{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 350px) );
  grid-template-rows: repeat(4, 70px) 250px 50px;  
  background-color: #ff81a152;
  padding: 15px;
  border-radius: 20px;
  color:#855151;
  justify-content: center;
  justify-items: center;
  align-items: center;
  
}

.Formulario input{
  background-color: #ffeef5;
  border-radius:6px;
  padding: 5px;
  border: 2px solid #ff95b9;
  margin-left: 15px;
}

.Formulario__Mensaje {
  width: 90%;
}

.Formulario__Mensaje textarea {
  margin-top: 20px;
  background-color: #D6E2C3;
  width: 100%;
  height: 30vh;
  border: 2px solid #ff95b9;
  border-radius: 6px;
  padding: 10px;
  font-size: 1rem;
}

.Formulario div{

  
  text-align: center;
  width: 100%;
}

.footer {
  height: 100%;
  background-color: #F4BFBF ;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  width: 100%;
  padding: 10px;
}

.footer__redes{
  display: grid;
  grid-template-columns: repeat(5,0.3fr);
  gap: 2px;
  padding: 5px;
}
.footer__redes img{
  width:80%;
  height: 90%;
}

.footer__derechos{
  font-size: 0.5rem;
  text-align: center;
  padding: 5px;
}

.footer__contacto{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr;
  justify-items: center;
  padding: 20px;
  align-items: center;
  height: 100%;
  width: 100%;
  
}

.footer__contacto h3{
  font-size: 0.7rem;
}

.footer__contacto p{
  font-size: 0.5rem;
}

